body{
    text-align: center;
    text-transform: uppercase;
}

.quadrado{
    text-align: center;
    width: 3.125rem;
    background-color: #eee;
    display: inline-block;
    padding: 2.5rem;
    font-size: 60px;
    margin: 0.313rem;
    cursor: pointer;
    color: #eee;
}
.jogador, .vencedor{
    font-size: 30px;
    margin-top: 0.625rem;

}

button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: #eee;
    cursor: pointer;

}
@media (max-width: 460px){
    .quadrado{
        padding: 0.5rem;
    }
}